.gallery {
  position: relative;
  padding-bottom: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > div {
  width: 100px;
  height: 100px;
  border: 1px solid lightgray;
  position: relative;
  font-size: small;
  color: gray;
  padding: 5px;
}

.performers {
  position: absolute;
  left: 0;
  top: 0;
}

.performers .label {
  position: absolute;
  transition: left 1s, top 1s;
  font-size: large;
  width: 100px;
  text-align: center;
}

body.loading #controls {
  display: none;
}

footer {
  position: fixed;
  bottom: 5px;
  font-size: smaller;
  color: gray;
}

#spreadsheet-url {
  font-family: monospace;
  color: gray;
}

#spreadsheet-url:hover {
  color: blue;
}
